body {
	margin: 100px;
	background: black;
	color: white;
}

h1 {
	color: white;	
}

p {
	color: white;	
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5px;
}