body {
	margin: 100px;
	background: black;
	color: white;
}

h1 {
	color: white;	
}

p {
	color: white;	
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5px;
}

.font1 {
	font-size: 130%;
	font-family: "Garamond";
}
	
.font2 {
	font-size: 130%;
	font-family: "Lucida Console";
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5px;